table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 70%; */
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  /* width: 180px;  */

}
/* .pageType{
  width: 70%;
} */

.tableHeader{
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: #16328b;
  color: white;
  /* position: relative; */
  margin-top: 17px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}
/* .tableDiv{
  width: 100vmax;
} */

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #dfdddd;
}
table tr:nth-child(odd) {
  background-color: #e7eaeb;
}

table tr:hover {
  background-color: rgb(163, 224, 248);
}

table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #16328b;
  color: white;
}
table td{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
button{
  margin-top: 12px;
}

.cf{
  size: 1;
  resize: horizontal;
        width: 200px;
}

.cf:active{

 width: auto;   
    }

.cf:focus {
        min-width: 20px;
    }
